# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/
.DS_Store

# Azure Functions
local.settings.json
.python_packages/

# Terraform
.terraform/
*.tfstate*
*.tfplan

# IDE
.vscode/
.idea/